body {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto", sans-serif;
  background: #f2f1f0 url("./images/spacex-background.jpg") fixed no-repeat;
  background-size: cover;
}

h1,
h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

h3 {
  font-weight: 400;
}

p {
  line-height: 1.5rem;
}

.header {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  text-align: center;
}

.header__title {
  text-transform: uppercase;
  font-size: 2.5rem;
  letter-spacing: 0.125rem;
}

.header__description strong {
  display: block;
  margin-bottom: 1.5rem;
}

.event__headerArrow {
  flex-shrink: 0;
  align-self: center;
}

.event__headerArrow g {
  fill: #000000;
}

@media all and (min-width: 64rem) {
  .header,
  .eventsList {
    width: 50rem;
  }
  .eventsList {
    margin-bottom: 4rem;
  }
}
.eventsList {
  background-image: linear-gradient(180deg, #f2f1f0, #eae7e4);
  border-radius: 0.25rem;
  box-shadow: 0.25rem 0.75rem 2rem #00000057;
  overflow: hidden;
}
.eventsList__wrapper {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.event {
  border-bottom: 0.0625rem solid #d6d3d1;
}

.event:hover .event__header,
.active.event .event__header,
.event:hover .event__headerArrow g,
.active.event .event__headerArrow g {
  color: #2b26d1;
  fill: #2b26d1;
}

.event:last-child {
  margin-bottom: 0;
  border-bottom: none;
}

.event__header {
  display: flex;
  padding: 1.5rem 2rem;
  background-color: transparent;
}

.active .event__header {
  position: relative;
  z-index: 10;
  box-shadow: 0.125rem 0.125rem 1rem #00000011;
}

.event__headerArrow {
  transition: transform 0.25s ease-in-out;
}

.event__headerContent {
  flex-grow: 1;
}

.event__title {
  margin: 0 0 0.25rem 0;
  font-size: 1.125rem;
  font-weight: 700;
}

.event__date {
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
}

.event__body {
  height: 0;
  opacity: 0;
  overflow: scroll;
  transition: opacity 0.5s ease-in-out;
  background-color: #eae7e4;
  overflow: hidden;
}

.active .event__body {
  padding: 1.5rem 2rem;
}

.event__body > p {
  margin: 0;
}

.event__nasaContent {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 6rem;
  margin-top: 1.5rem;
}

.event__nasaContent .loader {
  transform: scale(0.5);
}

.images {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0.5rem;
  align-items: stretch;
  justify-items: stretch;
}

.images p.noImages {
  grid-column: 1/-1;
  font-weight: 700;
}

.images img {
  max-width: 100%;
}

@media all and (min-width: 64rem) {
  .images {
    grid-template-columns: 1fr 1fr;
  }
}

/* Active state styling */
.event.active .event__headerArrow {
  transform: rotate(180deg);
}

.event.active .event__body {
  height: auto;
  opacity: 1;
}

.hidden {
  display: none;
}

.error {
  color: crimson;
}

/* Code Pen Space Loader
https://codepen.io/peekaboo07/pen/WpqyVa
*/
.loader {
  position: absolute;
  top: 50%;
  margin-top: -35px;
  left: 50%;
  margin-left: -35px;
  width: 70px;
  height: 70px;
}

.moon-loader {
  margin-top: -17px;
  margin-left: -17px;
  width: 34px;
  height: 34px;
}

.loader-circle {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.21);
  animation: rotate 2s infinite;
  animation-timing-function: linear;
}
.loader-circle > div {
  position: absolute;
  width: 10px;
  height: 10px;
  margin-left: 5px;
  border-radius: 50%;
  background-color: #000000;
}
.loader-circle > div.loader-moon-size {
  width: 5px;
  height: 5px;
  margin-left: 2.5px;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.loader-sun {
  position: absolute;
  left: 50%;
  margin-left: -9.5px;
  top: 50%;
  margin-top: -9.5px;
  width: 21px;
  height: 21px;
  background-color: #000000;
  border-radius: 50%;
}
